@import "node_modules/modern-normalize/";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


/*---------------------------------------Normalize-------------*/


main {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

.panel {
    background: url(./images/shopSign.avif) no-repeat center;
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    
}

.banner {
    margin-top: 30vh;
    height: 200px;
    background-color: black;
    opacity: 50%;
    display: flex;
    align-items: center;
}

.bannerTitle {
    color: white;
    opacity: 100%;
    font-size: 5rem;
}

.odinLogo {
    height: 100%;
    display: inline;
}

.formSide {
    background-color: whitesmoke;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

* {
    border: 1px red solid;
}

input, label {
  display:block;
}



fieldset {
  display: flex;
}

fieldset > div:first-child {
  margin-right: 5%;
}

fieldset > div > input {
  
  border-radius: 4px;
}

fieldset > div {
  width: 40%;
  max-width: 300px;
}