@import "node_modules/modern-normalize/";


:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


/*---------------------------------------Normalize-------------*/

/*------------------left side ---------*/
main {
    display: flex;
    flex: 1;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

.panel {
    background: url(./images/shopSign.avif) no-repeat center;
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    
}

.banner {
    margin-top: 30vh;
    height: 200px;
    background-color: black;
    opacity: 50%;
    display: flex;
    align-items: center;
}

.bannerTitle {
    color: white;
    opacity: 100%;
    font-size: 5rem;
}

.odinLogo {
    height: 100%;
    display: inline;
}

/*------------------right side ---------*/



.formSide {
    background-color: rgb(226, 234, 243);
    flex: 5;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    
    
}



input, label {
  display:block;
}

fieldset {
  display: flex;
  border: 0px;
  padding: 0;
  gap: 30px;
}

fieldset > div > input {
  
  border-radius: 4px;
  padding: 4px;
  border: grey solid 1px;
}

fieldset > div {
  width: 30%;
  max-width: 400px;
  margin: 5px 0px;
}

p, h1, h2, label, button, span {
  font-family: 'Funnel Sans', sans-serif;
}

h2 {
  font-size: 1.4rem;
}

.formInfo > p{
  font-size: 1.2rem;
  padding: 0 0 10px 30px;
  line-height: 1.6;
  font-weight: 600;
}

.formInfo {
  margin: 25px 0px;
}

.mainForm {
  padding: 10px 0 20px 30px;
  background-color: white;
  box-shadow: 1px 5px 11px 1px rgba(105,105,105,0.75);
-webkit-box-shadow: 1px 5px 11px 1px rgba(105,105,105,0.75);
-moz-box-shadow: 1px 5px 11px 1px rgba(105,105,105,0.75);
  
}

button {
  margin: 20px 0 20px 30px;
  font-size: 1.3rem;
  border-radius: 6px;
  background-color: green;
  color: white;
}

span {
  margin-left: 30px;
}

label {
  font-size: 0.8rem;
  color: rgb(54, 54, 54);
  font-weight: 500;
}

a {
  text-decoration: none;
}
